BODY {
	BACKGROUND-COLOR: 3399FF;
}

.on{
    text-align:center;
}
.OMM{
BORDER-BOTTOM: yellow 3px solid;
 BORDER-LEFT: yellow 3px solid;
 BORDER-TOP: yellow 3px solid; 
 BORDER-RIGHT: yellow 3px solid;
 text-align:center;
  margin-left:450px;	
  margin-right:450px;
  background-color:#A0A0A0;
}
	
	
	